<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--Send degug messages to file -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender" level="DEBUG">
        <file>C:/leaveTrackLog/leaveTrack.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="com.ubiquitech.leaveTrack.mvc" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="OFF">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
