.wrongPassword {
    color: red;
    font-size: 12px;
}

.error-message {
    color: red;
    font-size: 12px;
}

body {
    display: block;
    font-size:17px;
}

.applicationBody {
    background-color: #f2f0e3;
    font-family: arial, verdana, sans-serif;
    position: relative;
    width: 40em;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.calendarApplicationBody {
    font-family: arial, verdana, sans-serif;
    background-color: #f2f0e3;
    position: relative;
    width: 50em;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.form {
    padding: 1em;
    font-size: 15px;
}

.heading {
    background-color: darkblue;
    color: white;
    text-align: center;
}

table {
    font-size: 14px;
}

.headingLeft {
    float: left;
}

.headingRight {
    float: right;
}

.footer {
    text-align: right;
    font-size: 12px;
}

.label {
    text-align: right;
    font-size: 13px;
}

.notification {
    text-align: center;
    color: red;
}

.tableFields {
    text-align: right;
    position: relative;
    font-size:25px;
}

.tableFieldsAlignLeft {
    text-align: left;
    position: relative
    font-size:15px;
}

.readOnlyText {
    background-color: #f2eebd;
    font-size: 14px;
}

.droplist {
    text-align: left;
}

textarea {
    resize: none;
}

.TableHeading {
    font-size: 18px;
    color: white;
    font: bold;
    background-color: blue;
    border: thick;
}

.cancel-btn {
    background:lightgray url('../images/cancel.png') right no-repeat;
    width: 80px;
    height: 30px;
    text-align: left;

}
.next-btn {
    width: 80px;
    height: 30px;
    text-align: left;
    background: lightgray url('../images/next.png') no-repeat right;
}
.back-btn {
    background: lightgray url('../images/back.png') left no-repeat;
    text-align: right;
    width: 65px;
    height: 30px;
}
.ok-btn {
    background: lightgray url('../images/ok.png') right no-repeat;
    width: 70px;
    height: 30px;
    text-align: left;
}

.confirm-btn {
    background: lightgray url('../images/ok.png') right no-repeat;
    width: 83px;
    height: 30px;
    text-align: left;
}

.save-btn {
    background: lightgray url('../images/save.png') right no-repeat;
    text-align: left;
    width: 65px;
    height: 30px;
}